# Dependencies
node_modules

# Build output
build

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Test
coverage

# Misc
README.md
.env.local
.env.development
.env.test
